.section5 .container{
    background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
    display: flex;
    flex-direction: row;
    height: 605px;
}

.section5 .image{
    flex: 11;
    position: relative;
}
.section5 .image .star{
    position: absolute;
    width: 48px;
}

.section5 .image img:nth-child(1){
    height: 605px;
}

.section5 .image img:nth-child(2){
    top: 95px;
    left: 83px;
}

.section5 .image img:nth-child(3){
    top: 53px;
    right: 77px;
}

.section5 .image img:nth-child(4){
    bottom: 141px;
    right: 45px;
}

.section5 .image img:nth-child(5){
    bottom: 235px;
    left: 117px;
}

.section5 .text{
    flex: 10;
}

.section5 .main-text{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 85px;
    margin-top: 87px;
}

.section5 .payday-container{
    position: relative;
    height: 81px;
}

.section5 .payday{
    position: absolute;
    z-index: 10;
}

.section5 .payday-background{
    position: absolute;
    height: 81px;
    width: 338px;
    background-color: white;
    transform: matrix(1, -0.03, 0.03, 1, 0, 0);
    left: -14px;
}

.section5 .secondary-text{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
    width: 402px;
    margin-top: 25px;
}

.section5 .dates{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.section5 .terms{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
}

.section5 .shop-now{
    margin-top: 35px;
}

.section5 .text a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
    background-color: black;
    padding: 16px 32px 20px 32px;
    border-radius: 7px;
}


