/* Original size 1920px; For 1200px ratio 0.625 */
body{
    padding-top: 29px;
}

body>div{
    /*border: 1px solid black;*/
}

.wrapper{
    width: 1200px;
    min-height: 5px;
    margin: 0 auto;
    /*background-color: lightgray;*/
}

/* Section 1 */

.section1 .container{
    display: flex;
    flex-direction: row;
}

.section1 .logo{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section1 .logo-img img{
    height: 17px;
}

.section1 .title{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: -1px;
    margin-left: 8px;
}

.section1 .menu{
    flex-grow: 1;
}

.section1 .menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section1 .menu li{
    display: block;
}

.section1 .menu li a{
    text-decoration: none;
    color: #242323;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01px;
}

.section1 .menu li:nth-last-child(1) a{
    color: #FEFEFE;
    padding: 8px 14px 11px 14px;
    background-color: black;
    border-radius: 5px;
}

/* Section 2 */

.section2 .container{
    display: flex;
    flex-direction: row;
    background-color: #F4F6F5;
    border-radius: 37px;
    margin-top: 29px;
}

.section2 .slogan{
    flex: 4;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    margin-top: 48px;
    margin-bottom: 56px;
}

.section2 .main-slogan{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 75px;
}

.section2 .main-slogan .unique-background{
    position: relative;
    height: 75px;
}

.section2 .main-slogan .unique-background .unique,
.section2 .main-slogan .unique-background .background{
    position: absolute;
}

.section2 .main-slogan .unique-background .unique{
    z-index: 10;
}

.section2 .main-slogan .unique-background .background{
    background-color: #EBD96B;
    transform: rotate(-2deg);
    left: -20px;
    top: -6px;
    width: 320px;
    height: 75px;
}

.section2 .main-slogan .lets-background{
    position: relative;
    height: 75px;
}

.section2 .main-slogan .lets-background .lets,
.section2 .main-slogan .lets-background .background{
    position: absolute;
}

.section2 .main-slogan .lets-background .lets{
    z-index: 10;
}

.section2 .main-slogan .lets-background .background{
    background-color: white;
    transform: rotate(-2deg);
    left: -20px;
    top: -6px;
    width: 290px;
    height: 75px;
}

.section2 .second-slogan{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -1px;
    margin-top: 25px;
}

.section2 .decor-button{
    flex-direction: row;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.section2 .decor{
    margin-right: 25px;
}

.section2 .decor img{
    width: 115px;
}

.section2 .button a{
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -1px;
    background-color: black;
    padding: 12px 25px;
    border-radius: 6px;
}

.section2 .banner-photo{
    flex: 6;
    position: relative;
}

.section2 .banner-img{
    position: absolute;
}

.section2 .woman{
    width: 545px;
    bottom: 0;
    right: 50px;
}

.section2 .star{
    width: 36px;
}

.section2 .star1{
    top: 42px;
    left: 42px;
}

.section2 .star2{
    top: 55px;
    right: 150px;
}

.section2 .star3{
    bottom: 65px;
    right: 50px;
}

.section2 .star4{
    bottom: 25px;
    left: 100px;
}

/* Section 3 */

.section3{
    width: 100%;
    height: 115px;
    background-color: #EBD96B;
    margin-top: 45px;

}

.section3 .brands{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 35px;
}

.section3 .brand-item img{
    height: 40px;
}

/* Section 4 */

.section4{
    margin-top: 40px;
}

.section4 .title{
    position: relative;
    width: 100%;
    height: 100px;
}

.section4 .title span{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 31px;
    letter-spacing: 2px;
}

.section4 .title .decor{
    position: absolute;
    top: 14px;
    left: 142px;
}

.section4 .title .text{
    position: absolute;
    z-index: 10;
}

.section4 .title .decor img{
    width: 116px;
    height: 22px;
}

.section4 .categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section4 .item{
    display: flex;
    flex-direction: column;
}

.section4 .item .image img{
    width: 350px
}

.section4 .item .text{
    display: flex;
    flex-direction: row;
}

.section4 .item .links{
    flex: 9;
}

.section4 .item .arrow{
    flex: 1;
    align-self: center;
}

.section4 .item .text .links{
    display: flex;
    flex-direction: column;
}

.section4 .item .text .category-name{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: -1px;
}

.section4 .item .text .category-name a{
    text-decoration: none;
    color: #191919;
}

.section4 .item .text .explore{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: -1px;
}

.section4 .item .text .explore a{
    text-decoration: none;
    color: #7F7F7F;
}

/* Section 5 */

.section5 .container{
    background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
    display: flex;
    flex-direction: row;
    height: 605px;
    margin-top: 100px;
}

.section5 .image{
    flex: 11;
    position: relative;
}
.section5 .image .star{
    position: absolute;
    width: 48px;
}

.section5 .image img:nth-child(1){
    height: 605px;
}

.section5 .image img:nth-child(2){
    top: 95px;
    left: 83px;
}

.section5 .image img:nth-child(3){
    top: 53px;
    right: 77px;
}

.section5 .image img:nth-child(4){
    bottom: 141px;
    right: 45px;
}

.section5 .image img:nth-child(5){
    bottom: 235px;
    left: 117px;
}

.section5 .text{
    flex: 10;
}

.section5 .main-text{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 85px;
    margin-top: 87px;
}

.section5 .payday-container{
    position: relative;
    height: 81px;
}

.section5 .payday{
    position: absolute;
    z-index: 10;
}

.section5 .payday-background{
    position: absolute;
    height: 81px;
    width: 338px;
    background-color: white;
    transform: matrix(1, -0.03, 0.03, 1, 0, 0);
    left: -14px;
}

.section5 .secondary-text{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
    width: 402px;
    margin-top: 25px;
}

.section5 .dates{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.section5 .terms{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
}

.section5 .shop-now{
    margin-top: 35px;
}

.section5 .text a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
    background-color: black;
    padding: 16px 32px 20px 32px;
    border-radius: 7px;
}

    /* Section 6 */

.section6{
    margin-top: 40px;
}

.section6 .title{
    position: relative;
    width: 100%;
    height: 100px;
}

.section6 .title span{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 31px;
    letter-spacing: 2px;
}

.section6 .title .decor{
    position: absolute;
    top: 14px;
    left: 210px;
}

.section6 .title .text{
    position: absolute;
    z-index: 10;
}

.section6 .title .decor img{
    width: 116px;
    height: 22px;
}

.section6 .categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section6 .item{
    display: flex;
    flex-direction: column;
}

.section6 .item .image img{
    width: 580px
}

.section6 .item .text{
    display: flex;
    flex-direction: row;
}

.section6 .item .links{
    flex: 9;
}

.section6 .item .arrow{
    flex: 1;
    align-self: center;
}

.section6 .item .text .links{
    display: flex;
    flex-direction: column;
}

.section6 .item .text .category-name{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: -1px;
}

.section6 .item .text .category-name a{
    text-decoration: none;
    color: #191919;
}

.section6 .item .text .explore{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: -1px;
}

.section6 .item .text .explore a{
    text-decoration: none;
    color: #7F7F7F;
}

/* Section 7 */

.section7 .container{
    display: flex;
    flex-direction: row;
    height: 605px;
}

.section7 .text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section7 .text>div{
    width: 60%;
    margin: 0 auto;
}

.section7 .main-text{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 45px;
    letter-spacing: 2px;
}

.section7 .text .secondary-text{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -1px;
    color: #7C7C7C;
    margin-top: 26px;
}

.section7 .text .download-links{
    display: flex;
    flex-direction: row;
    margin-top: 41px;
}

.section7 .text .download-links .applestore{
    margin-right: 15px;
}

.section7 .download-links img{
    width: 127px;
}

.section7 .banner{
    flex: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section7 .banner .phone{
    position: absolute;
    z-index: 10;
}

.section7 .banner .phone img{
    width: 300px;
}

.section7 .banner .circle{
    position: absolute;
    border-radius: 50%;
}

.section7 .banner .circle-empty{
    border: 1px solid #EFECEB;
}

.section7 .banner .circle-border-1{
    width: 285px;
    height: 285px;

}

.section7 .banner .circle-border-2{
    width: 350px;
    height: 350px;

}

.section7 .banner .circle-border-3{
    width: 415px;
    height: 415px;

}

.section7 .banner .circle-bg-gray{
    background-color: #89807A;
}

.section7 .banner .circle-bg-yellow{
    background-color: #EBD96B;
}

.section7 .banner .circle-1{
    width: 15px;
    height: 15px;
    top: 20%;
    left: 15%;
}

.section7 .banner .circle-2{
    width: 32px;
    height: 32px;
    top: 20%;
    right: 15%;
}

.section7 .banner .circle-3{
    width: 11px;
    height: 11px;
    bottom: 20%;
    right: 15%;
}

.section7 .banner .circle-4{
    width: 21px;
    height: 21px;
    bottom: 10%;
    left: 10%;
}

@media (min-width: 960px) and (max-width: 1200px) {
    .wrapper{
        width: 960px;
    }

    /* Section 2 */

    .section2 .woman{
        right: 10px;
    }

    .section2 .star4{
        left: 30px;
    }

    .section2 .star1{
        left: 12px;
    }

    /* Section 4 */

    .section4 .item .image img{
        width: 280px
    }

    .section4 .title{
        height: 80px;
    }

    /* Section 5 */

    .section5 .container{
        height: 484px;
        margin-top: 70px;
    }

    .section5 .image img:nth-child(1){
        height: 484px;
    }

    .section5 .image .star{
        width: 38px;
    }

    .section5 .image img:nth-child(5){
        bottom: 210px;
        left: 95px;
    }

    .section5 .main-text{
        font-size: 60px;
        font-weight: 900;
        line-height: 65px;
        margin-top: 67px;
    }

    .section5 .payday-background{
        height: 61px;
        width: 308px;
        transform: matrix(1, -0.03, 0.03, 1, 0, 0);
        left: -14px;
    }

    .section5 .secondary-text,
    .section5 .dates{
        font-size: 20px;
        line-height: 28px;
        margin-top: 20px;
    }

    .section5 .text a{
        font-size: 14px;
    }

    /* Section 6 */

    .section6 .item .image img{
        width: 460px
    }

    .section6 .title{
        height: 80px;
    }

    /* Section 7 */

    .section7 .banner .circle-2{
        right: 10%;
    }

    .section7 .banner .circle-4{
        bottom: 15%;
    }
}

@media (max-width: 960px){
    .wrapper{
        width: 480px;
    }

    .section1 .logo{
        flex-grow: 1;
    }

    .section1 .logo-img img{
        height: 14px;
    }

    .section1 .title{
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0;
        margin-left: 4px;
    }

    .section1 .menu{
        flex-grow: 3;
    }

    .section1 .menu li a{
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0;
    }

    .section1 .menu li:nth-last-child(1) a{
        padding: 5px 10px;
        border-radius: 4px;
    }

    /* Section 2 */

    .section2 .banner-photo{
        display: none;
    }

    /* Section 3 */

    .section3{
        height: 70px;
    }

    .section3>div{
        height: 70px;
        background-color: #EBD96B;
    }

    .section3 .brands{
        padding-top: 22px;
    }

    .section3 .brand-item img{
        height: 25px;
    }

    /* Section 4 */

    .section4{
        margin-top: 20px;
    }

    .section4 .title{
        height: 60px;
    }

    .section4 .title span{
        font-size: 20px;
    }

    .section4 .title .decor {
        top: 14px;
        left: 105px;
    }

    .section4 .title .decor img{
        width: 82px;
        height: 14px;
    }

    .section4 .item .image img{
        width: 150px
    }

    .section4 .item .text .category-name{
        font-size: 15px;
    }

    .section4 .item .text .explore{
        font-size: 12px;
    }

    .section4 .item .arrow{
        display: none;
    }

    /* Section 5 */

    .section5 .container{
        margin-top: 40px;
    }

    .section5 .image{
        display: none;
    }

    .section5 .text{
        padding: 0 50px;
    }

    /* Section 6 */

    .section6{
        margin-top: 20px;
    }

    .section6 .title{
        height: 60px;
    }

    .section6 .title span{
        font-size: 20px;
    }

    .section6 .title .decor {
        top: 15px;
        left: 150px;
    }

    .section6 .title .decor img{
        width: 82px;
        height: 14px;
    }

    .section6 .item .image img{
        width: 235px
    }

    .section6 .item .text .category-name{
        font-size: 15px;
    }

    .section6 .item .text .explore{
        font-size: 12px;
    }

    .section6 .item .arrow{
        display: none;
    }

    /* Section 7 */

    .section7 .container{
        height: 500px;
    }

    .section7 .banner{
        display: none;
    }
}

